@charset "UTF-8";
.clearfix::after{
  content:"";
  clear:both;
  display:block;
}
a {
  display: inline-block;
}
body {
  font-family: 'Raleway';
}
.inner{ 
  margin: 0 auto;
  width: 1100px;
} 
.header{
  background-color: #fff;
  width: 100%;
  z-index:99;
  position:fixed;
}
.header-inner{
  padding: 15px 0 15px;
}
.header-inner__icon{
  color: #c0c0c0;
  float: left;
  font-size: 40px;
}
.header-inner__btn{
  background-color: #74cfae;
  float: right;
}
.header-inner__btn__text{
  font-size: 12px;
  padding: 14px 12px;
  color: #f2f2f2;
  display: block;
  text-decoration: none;
}
.main {
  padding-top: 70px;
  background-color: #f2f2f2;
}
.theme{
  background-color: #f2f2f2;
}
.theme-inner{
  width: 100%;
  padding: 250px 0;
}
.theme-inner__top{
  font-size: 90px;
  font-weight: 700;
  font-family:'Lato';
  margin-bottom: 20px;
  color: #74cfae;
  text-align: center;
}
.theme-inner__bottom{
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}
.do{
  background-color: #74cfae;
  width: 100%;
  font: 0px;
}
.do-inner{
  padding: 50px 0 0;
}
.do-inner__photo{
  float: left;
  text-align: center;
  width: 350px;
}
.do-inner__main{
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 24px;
  width:750px;
}
.do-inner__main__bottom{
  font-size:20px;
  margin-top:35px;
  word-break:keep-all;
  line-height:35px;
}
.works{
  background-color:#f2f2f2;
  width:100%;
}
.works-inner{
  color:#333;
  padding: 60px 0 70px;
  text-align:center;
}
.works-inner__main_title{
  font-size:24px;
  text-align:center;
}
.works-inner__images{
  box-sizing:border-box;
  margin:40px 0 90px;
  font-size: 0;
}
.works-inner__image {
  display: inline-block;
  margin-left: 100px;
}
.image-link{
  opacity:0.7;
  transition: all .3s;
}
.image-link:hover{
  opacity:1;
}
.works-inner__image:nth-child(3n+1){
  margin-left:0;
}
.works-inner__image:nth-child(n+4){
  margin-top:80px;
}
.works-inner__bottom_content{
  text-align:center;
}
.works-inner__bottom_text{
  display:inline-block;
  font-size:20px;
  float:left;
  line-height: 30px;
  margin:0 90px 0;
  width:655px;
  word-break:break-all;
}
.works-inner__bottom_btn{
  background-color:#74cfae;
  float:left;
}
.works-inner__bottom_btn-text{
  color:#fff;
  display:block;
  font-size:12px;
  padding:14px 20px;
  text-decoration: none;
  transition:all .3s;
}
.works-inner__bottom_btn-text:hover {
  color:#333;
}
.skills{
  background-color: #4e4e4e;
  width: 100%;
}
.skills-inner{
  color: #f2f2f2;
  padding: 70px 0 100px;
  text-align: center;
}
.skills-inner__main{
  font-size: 24px;
  font-family:'Raleway';
  margin: 0 0 40px;
  text-align: center;
}
.skills-inner__side__contents{
  font-size: 0px;
}
.skills-inner__side{
  font-size: 16px;
  display: inline-block;
  margin-right: 180px;
}
.skills-inner__side:last-child{
  margin-right: 0;
}
.sns{ 
  background-color: #f2f2f2;
  width: 100%;
}
.sns-inner{
  padding: 200px 0;
  text-align: center;
}
.sns-inner__btn__contents{
  font-size: 0px;
}
.sns-inner__btn{
  display: inline-block;
  font-size: 40px;
}
.sns-inner__btn__icon:hover {
  background-color: #fff;
}
.sns-inner__btn__icon{
  color: #74cfae;
  text-decoration: none;
  width: 185px;
  transition: .3s;
  padding: 20px 0;
  display: inline-block;
}
.footer{
  background-color: #74cfae;
  width: 100%;
}
.footer-inner{
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
  font-size: 12px;
  color: #fff;
}
@media screen and ( max-width:1199px){
  .inner{
    width: 97%;
  }
  .do-inner{
    padding-bottom: 25px;
  }
  .do-inner__photo{
    margin: 0 auto 20px;
    float: none;
    display:block;
    width:100%;
  }
  .do-inner__main{
    margin: 0 auto;
    float: none;  
    display: block;
  }
  .works-inner__images{
    margin:40px 0 80px;
    box-sizing: border-box;
  }
  .works-inner__image{
    margin:0 auto;
    display:block;
  }
  .works-inner__image:nth-child(n+3){
    margin-top:0;
  }
  .works-inner__image:nth-child(3n+4){
    margin-top:80px;
  }
  .works-inner__bottom_text{
    width:100%;
    margin:0 auto 40px;
  }
  .works-inner__bottom_btn{
    display:inline-block;
    float:none;
  }
  .skills-inner__side{
    display:block;
    margin:0 auto 88px;
  }
  .skills-inner__side:last-child{
    margin-bottom:0;
  }
}
@media screen and (max-width: 767px){
  .header-inner{
    padding:15px 10px;
  }
  .header-inner__btn{
    display:none;
  }
  .hamburger-menu{
    display:block;
    padding:10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    float:right;
    border-radius: 4px;
  }
  .hamburger-menu div {
    height: 2px;
    width: 24px;
    background-color: #ddd;
    display: block;
    margin-bottom:5px;
  }
  .hamburger-menu div:last-child{
    margin-bottom:0;
  }
  .theme-inner{
    padding: 160px 0 130px 0;
  }
  .do-inner__main{ 
     width:100%; 
  }
  .sns-inner{
    padding:50px 15px;
    box-sizing: border-box;
  }
  .sns-inner__btn{
    display:block;
    width:100%;
    margin:0 auto;
  }
  .sns-inner__btn__icon{
    display: block;
    width: 100%;
  }
}

